.modal-form-icon {
	display: block;
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
}

.modal-form-span {
	display: inline-block;
	position: relative;
	margin-top: 4px;
	width: 100%;
}

.modal-form-title {
	display: block;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	color: var(--color-nav-header);
	margin-bottom: 12px;

	@media screen and (min-width: 1200px) {
		line-height: 1.15;
	}
}

.modal-form-field {
	display: block;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--color-contact);
}

.modal-form-field:not(:last-child) {
	margin-bottom: 10px;
}

.modal-form-input {
	/* display: block; */
	height: 40px;
	width: 100%;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 42px;
	transition: fill var(--transition-animation);
}

.modal-form-input:focus {
	outline: none;
	border-color: var(--color-accent);
}

.modal-form-input:focus + .modal-form-icon {
	fill: var(--color-accent);
}

.modal-form-check-field {
	display: flex;
	gap: 7px;
	font-size: 12px;
	line-height: 1.17;
	margin-bottom: 20px;
	width: 100%;
	color: var(--color-contact);
	justify-content: center;
	align-items: center;

    @media screen and (max-width:479px) {
      flex-wrap: wrap;
     margin-bottom: 10px;
    }
	@media screen and (min-width: 1200px) {
		font-size: 14px;
		line-height: 1.71;
	}
}

.modal-form-message {
	// width: 450px;
	width: 100%;
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 12px 16px;
	transition: border-color var(--transition-animation);
	margin-top: 4px;
	margin-bottom: 20px;
	resize: none;

    @media screen and (max-width:479px) {
          margin-bottom: 10px;
        }
}

.modal-form-message:focus {
	outline: none;
	border-color: var(--color-accent);
}

.modal-form-message::placeholder {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}

.modal-form-link {
	color: var(--color-accent);
}

.modal-form-checkbox-icon {
	display: none;
}

.modal-form-check:checked ~ .modal-form-checkbox-icon {
	display: block;
}

.modal-form-check:checked ~ .modal-form-checkbox-nonactive-icon {
	display: none;
}

.modal-form-submit {
	display: block;
	padding: 10px 52px;
	margin-left: auto;
	margin-right: auto;
}
