h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
}

img {
    display: block;
}

body {
    background-color: var(--background-color-portfolio);
    color: var(--color-text-standart);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}